# Virtual Environment
.venv/
venv/
ENV/
env/

# VSCode
.vscode/
*.code-workspace

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# pytest
.pytest_cache/
.coverage
htmlcov/

# IPython
.ipython/
.ipykernel/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Environments
.env
.venv
env.bak/
venv.bak/

# IDEs
.idea/
*.swp
*.swo
*~
.DS_Store
